#!/bin/bash
FILEPATH_WITHOUT_EXT="${1%.*}"
FILENAME_WITHOUT_EXT=$(basename "$FILEPATH_WITHOUT_EXT")

touch "${FILEPATH_WITHOUT_EXT}.finished"

# Upload video file
output="${1##${2}}"
output_folder=$(dirname "$output")
output_filename=$(basename "$output")
rclone moveto --no-traverse "$1" "vtuber:/${output_folder}/${FILENAME_WITHOUT_EXT}/${output_filename}"

# Upload else files
declare -a exts
exts=( "log" "jpg" "json")

for i in "${exts[@]}"; do
  tmp="${FILEPATH_WITHOUT_EXT}.${i}"

  output="${tmp##${2}}"
  output_folder=$(dirname "$output")
  output_filename=$(basename "$output")

  rclone moveto --no-traverse "${tmp}" "vtuber:/${output_folder}/${FILENAME_WITHOUT_EXT}/${output_filename}"
done
