#!/bin/bash

/root/ipv6/ipv6.bash

. /root/scripts/channels.bash

mkdir -p /tmp/live-dl

for key in "${!CHANNEL_IDS[@]}"; do
    PM2_HOME='/root/.pm2' pm2 start /bin/bash --name "$key" -- /root/live-dl/live-dl "https://www.youtube.com/channel/${CHANNEL_IDS[${key}]}"
done

/root/scripts/isBanned.bash &